.container {
  position: relative;
}

.searchContainer {
  border: 1px solid black;
  padding: 8px 16px;
  border-radius: 4px;
  font-size: 16px;
  max-width: 600px;
  width: 100%;
}

.searchClean {
  width: 5px;
  height: 5px;
  position: absolute;
  right: 15px;
  top: 10px;
  cursor: pointer;
}